@Test
    public void TestUserId() {
        User user = CreateUser.crateDummyUser();
        NetacadUserResponse netacadUserResponse = CreateNetacadUser.getDummyNetacadUser();
        NetacadUser netacadUser = netacadUserResponse.getData();
        Mockito.doReturn(user).when(userApi).getUserid(any(), any());
        ResponseEntity<NetacadUserResponse> netacadUserResponseEntity = new ResponseEntity(netacadUserResponse, HttpStatus.OK);
        Mockito.doReturn(netacadUserResponseEntity).when(netacadUserApi).getUserById(any(), any());
        Mockito.doReturn(netacadUser).when(academySyncServiceImpl).getNetacadUserByRole(any(), any(), any(), any());
        User contactUser = academySyncServiceImpl.populateAndGetUserDetail("skillsforall", "100", netacadUserResponse);
        Assertions.assertEquals("100", netacadUserResponse.getData().getUid());
    }
